


#page {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}



#mainpanel {
  overflow: hidden;
}



#content {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}



#navigation {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
