


#page {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}



#mainpanel {
  overflow: hidden;
}



#content {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}



#navigation {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
